.absolute {
  position: absolute;
}
 
.relative {
  position: relative;
}
 
.relative-2 {
  position: relative;
  top: 120px;
}
 
.relative-3 {
  position: relative;
  background-color: rgb(94, 78, 74);
  width: 1100px;
  height: 110px;
  top: 940px;
}
 
.relative-4 {
  position: relative;
  background-color: rgb(99, 98, 32);
  width: 1100px;
  height: 200px;
  top: 960px;
}
 
.left {
  left: 0;
}
 
.right {
  right: 0;
}
 
.margin {
  margin-left: 180px;
}
 
.margin-top {
  margin-top: 120px;
}
 
.margin-bottom {
  margin-bottom: 20px;
}
 
.margin-left {
  margin-left: 240px;
}
 
.purple-box {
  background-color: blueviolet;
  width: 160px;
  height: 100px;
  border: 50px;
}
 
.orange-box {
  background-color: orange;
  width: 740px;
  height: 100px;
  
}
.bg-black {
  background-color: rgb(46, 60, 63);
  width: 740px;
}
 
.width {
  width: 160px;
}
 
.height {
  height: 800px;
}
 
.height-290 {
  height: 290px;
}
 
.height-490 {
  height: 490px;
}
.brown-box {
  background-color: brown;
    width: 1100px;
    height: 45px;
    margin-bottom: 20px;
     
}
 
.blue-box {
  background-color: rgb(29, 175, 175);
}
 
.white-box {
  background-color:rgb(205, 214, 223);
  width: 700px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
 
.middle {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 120px;
}
 
.item {
  background-color: white;
  width: 220px;
  height: 120px;
}

.left2 {
  left: 200px;
  top: 10px;
}
 
.right2 {
  left: 20px;
  top: 10px;
}
 
.margin-left2 {
  margin-left: 380px;
  top: 10px;
}


.item2 {
  background-color: rgb(255, 237, 233);
  width: 165px;
  height: 90px;
}

.left3 {
  left: 740px;
  top: 10px;
}
 
.right3 {
  left: 560px;
  top: 10px;
}
 
.margin-left3 {
  margin-left: 920px;
  top: 10px;
}

.item3 {
  background-color: rgb(255, 237, 233);
  width: 165px;
  height: 90px;
}

.left4 {
  left: 10px;
  top: 10px;
}
 
.right4 {
  left: 610px;
  top: 10px;
}
 
.margin-left4 {
  margin-left: 855px;
  top: 10px;
}

.margin-right4 {
  margin-left: 365px;
  top: 10px;
  
}

.item4 {
  background-color: rgb(240, 255, 35);
  width: 345px;
  height: 80px;
}

.item5 {
  background-color: rgb(240, 255, 35);
  width: 235px;
  height: 180px;
  
}

.item6 {
   background-color: rgb(240, 255, 35);
  width: 235px;
  height: 180px;
}

.item7 {
   background-color: rgb(240, 255, 35);
  width: 235px;
  height: 180px;
}